# fly.toml app configuration file generated for mindsetcoach-web on 2025-12-27T10:37:39+10:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'mindsetcoach-web'
primary_region = 'syd'

[build]
  dockerfile = 'Dockerfile'

[env]
  API_BASE_URL = 'https://mindsetcoach.fly.dev'
  ASPNETCORE_ENVIRONMENT = 'Production'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 512
